@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write your own custom component styles here */
.btn-blue {
  @apply px-4 py-2 font-bold text-white bg-blue-500 rounded hover:bg-blue-600;
}

.vl {
  border-left: 5px solid black;
  height: 200px;
}

/* Style for the button */
.sidebarButton {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition for hover effect */
  margin: 10px 0 10px 0;
  padding: 0 0 0 10px;
  -webkit-app-region: no-drag;

  /* Optional: Add focus outline */
  &:focus {
    outline: none;
  }
}

/* Style for the icon inside the button */
.sidebarButton i {
  margin-right: 8px; /* Add space between the icon and text */
}

/* Optional: Style for the text inside the button */
.sidebarButton span {
  white-space: nowrap; /* Avoid text wrapping */
  overflow: hidden; /* Avoid text to overflow */
  text-overflow: ellipsis; /* If text is longer than button width, truncate text */
  padding: 0 0 2px 0; /* Center text vertically */
}

.btn-light {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition for hover effect */
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
  -webkit-app-region: no-drag;
  background-color: #dbdbdb;
  box-shadow: #111827;
}

.btn-dark {
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add a smooth transition for hover effect */
  margin: 10px 0 10px 0;
  padding: 0 10px 0 10px;
  -webkit-app-region: no-drag;
  background-color: #111827;
}

.btn-light span {
  white-space: nowrap; /* Avoid text wrapping */
  overflow: hidden; /* Avoid text to overflow */
  text-overflow: ellipsis; /* If text is longer than button width, truncate text */
  padding: 0 0 2px 0; /* Center text vertically */
}

.btn-dark span {
  white-space: nowrap; /* Avoid text wrapping */
  overflow: hidden; /* Avoid text to overflow */
  text-overflow: ellipsis; /* If text is longer than button width, truncate text */
  padding: 0 0 2px 0; /* Center text vertically */
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

@layer base {
  body {
    @apply dark:bg-gray-800 bg-white;
  }
}
